
\.idea/compiler\.xml

\.idea/libraries/Maven__junit_junit_4_12\.xml

\.idea/libraries/Maven__org_codehaus_groovy_groovy_2_5_4\.xml

\.idea/libraries/Maven__org_codehaus_groovy_groovy_json_2_5_4\.xml

\.idea/libraries/Maven__org_codehaus_groovy_groovy_macro_2_5_4\.xml

\.idea/libraries/Maven__org_codehaus_groovy_groovy_nio_2_5_4\.xml

\.idea/libraries/Maven__org_codehaus_groovy_groovy_sql_2_5_4\.xml

\.idea/libraries/Maven__org_codehaus_groovy_groovy_templates_2_5_4\.xml

\.idea/libraries/Maven__org_codehaus_groovy_groovy_test_2_5_4\.xml

\.idea/libraries/Maven__org_codehaus_groovy_groovy_xml_2_5_4\.xml

\.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3\.xml

\.idea/libraries/Maven__org_spockframework_spock_core_1_3_groovy_2_5\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/uiDesigner\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml

Medium_BeatingTheSwitchSmell\.iml

out/production/TOYS/PROGRAM\.class

target/classes/behaviouralSwitch/enumAlternative/EnumCalculator\.class

target/classes/behaviouralSwitch/enumAlternative/OperationEnum\.class

target/classes/behaviouralSwitch/enumAlternative/OperationEnum\$1\.class

target/classes/behaviouralSwitch/sentence/Calculator\.class

target/classes/behaviouralSwitch/structureAlternative/DataStructureCalculator\.class

target/classes/behaviouralSwitch/structureAlternative/DataStructureCalculator\$1\.class

target/test-classes/behaviouralSwitch/enumAlternative/EnumAlternativeTest\.class

target/test-classes/behaviouralSwitch/sentence/CalculatorTest\.class

target/test-classes/behaviouralSwitch/structureAlternative/DataStructureAlternativeTest\.class
